@charset "utf-8"

@import "~bulma/bulma.sass"

$effect-types: ('delay': #27ae60, 'distortion': #e67e22, 'dynamics': #f1c40f, 'eq': #e8da59, 'filter': #955ca6, 'looper': #7f8c8d, 'modulation': #2980b9, 'pitch-synth': #8e44ad, 'reverb': #fd6528, 'split': #a5aeaf, 'volume-pan': #1abc9c, 'wah': #b353dc, 'amp': #ff0000)

@each $name, $color in $effect-types
  .has-text-#{$name}
    color: $color !important
  .has-background-#{$name}
    background-color: $color !important

.item-url
    margin-top: 1.25em

body
    padding-top: 3.25rem

.headings
    scroll-margin-top: 4rem

.manual-container
    scroll-margin-top: 5rem

.navbar-dropdown
    background: #191919
    border-top: 2px
    box-shadow: 0 8px 8px rgba(10, 10, 10, 0.1) !important
    a 
        filter: invert(1)

.navbar-menu
    @media screen and (max-width: 1023px)
        background: #131313
        a, .navbar-link
            filter: invert(1)
            &::after
                border-color: #4a4a4a
        a.navbar-item:focus, a.navbar-item:hover, .navbar-link:focus, .navbar-link:hover
            color: #4a4a4a

.table 
    thead tr th
        font-weight: 600
    tbody tr 
        transition: 150ms ease-out background-color
        td
            vertical-align: middle
            &:last-child
                text-align: end

.filter-tag
    margin-right: .75em

.content h1, .content h2, .content h3, .content h4, .content h5, .content h6
    font-weight: 400

.number-link
    transition: 200ms ease-out all
    &:hover
        transform: scale(1.05)
        filter: drop-shadow(0 0 .5em rgba(10, 10, 10, 0.1))
    @media screen and (max-width: 768px)
        svg 
            max-height: 40px

.footer-list li a 
    font-size: 1rem
    font-weight: 300
    color: #4a4a4a
    &:hover
        color: #3273dc

.button 
    transition: 150ms ease-out background-color, 150ms ease-out color, 150ms ease-out border-color

.card 
    box-shadow: none
    transition: .25s ease-out box-shadow, .25s ease-out transform
    &:hover
        transform: scale(1.05)
        box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.1), 0 0px 0 1px rgba(10, 10, 10, 0.02)

.hero
    &.has-particles 
        position: relative
        background: rgb(255,255,255)
        background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 10%, rgba(255,255,255,0) 90%, rgba(255,255,255,1) 100%)

.next-nav
    flex-direction: column-reverse
    @media screen and (min-width: 769px)
        flex-direction: row