@charset "utf-8";

@import "~bulma/bulma.sass";

.item-url
    margin-top: 1.25em

body
    padding-top: 3.25rem

.headings
    scroll-margin-top: 4rem

.model-hero
    background-position: center center
    background-size: cover

.Amps-hero 
    background-image: linear-gradient(90deg, rgba(0, 0, 0, .8) 0%, rgba(0, 0, 0, 0) 25%), url('../images/amps.jpg') !important

.Cabs-hero
    background-image: linear-gradient(90deg, rgba(0, 0, 0, .8) 0%, rgba(0, 0, 0, 0) 25%), url('../images/cabs.jpg') !important

.Effects-hero
    background-image: linear-gradient(90deg, rgba(0, 0, 0, .8) 0%, rgba(0, 0, 0, 0) 25%), url('../images/effects.jpg') !important

.Mics-hero
    background-image: linear-gradient(90deg, rgba(0, 0, 0, .8) 0%, rgba(0, 0, 0, 0) 25%), url('../images/mics.jpg') !important

.navbar-dropdown
    background: #191919
    border-top: 2px
    box-shadow: 0 8px 8px rgba(10, 10, 10, 0.1) !important
    a 
        filter: invert(1)